<div class="mt-16 grid grid-cols-2 md:grid-cols-2 gap-8 text-center">
    <div>
      <h2 class="text-3xl font-bold bg-gradient-to-r from-purple-400 via-pink-600 to-red-500 text-transparent bg-clip-text">9+</h2>
      <p class="text-muted-foreground">Years of Experience</p>
    </div>
    <div>
      <h2 class="text-3xl font-bold bg-gradient-to-r from-purple-400 via-pink-600 to-red-500 text-transparent bg-clip-text">3</h2>
      <p class="text-muted-foreground">Projects</p>
    </div>
  </div>
</div>