<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>

        <!-- Tailwind CSS CDN -->
        <script src="https://cdn.tailwindcss.com"></script>

        {% block extra_css %}{% endblock %}
    </head>

    <body class="bg-gray-800 text-white">
        {% include 'components/navbar.html' %}
        
        <main class="p-4 min-h-[calc(100vh-8rem)]">
            {% block content %}{% endblock %}
        </main>

        <!-- Footer -->
        <footer class="text-gray-400 text-center py-4">
            © 2025 - Il tuo progetto
        </footer>

        {% block extra_js %}{% endblock %}
    </body>
</html>